# Environments
.env
*.env.local
.venv
venv/
env/

# Docker
docker-compose.override.yml

# IDE & OS files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Cache directories
.eslintcache
.vite
.pytest_cache/
.mypy_cache/
.hypothesis/
.tox/
htmlcov/
**/__pycache__/
**/cache/

# Python build artifacts
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
*.egg

# Node build artifacts
/frontend-nextjs/out/
/frontend-nextjs/node_modules/
**/.next/
**/bun.lock
frontend-nextjs/.next/

# Test reports
/coverage

# NPM
node_modules/

# IDE Specific
*.sublime-project
*.sublime-workspace
